<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starter Template</title>

    <!-- Link Fonts or CDN  -->
    <!-- Bootstrap -->
    
    <link rel="stylesheet" href="{% static './vendor/bootstrap/css/bootstrap.min.css' %}" />

    <link rel="stylesheet" href="{% static './vendor/bootstrap/css/bootstrap-icons.css' %}" />
    

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static './app/css/style.css' %}" />

</head>
<body>
    
    <div class="container">
        {% block content %}
        {% endblock %}
        
    </div>




    <!-- jquery>Popper>Bootsrap -->
    <script src="{% static './vendor/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static './vendor/popper/popper.min.js' %}"></script>
    <script src="{% static './vendor/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>